

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 16px;
    margin : 0px;    
}

.main-content{
    display: flex;

    gap : 32px;
}



.container{
   /* border : 2px solid black;*/  
    width: 600px;
    height: 600px;
    display: flex;
}

.header{
    margin-top: 8px;
}

.header-name{
    font-size : 64px;
    font-weight: bold;
    margin : 0;
}

.instruction-text{
    margin : 0px;
    font-size: 24px;
}


.grid {
    flex : 1;

    display : flex;
    flex-direction: column;
}

.row{
    flex : 1;
    border : 1px solid grey;
}

.row-hover{
    background-color: black;
}


.btns {
    display: flex;
    flex-direction: column;
    gap : 16px;
    justify-content: space-evenly;
}

button{
    padding : 8px;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.1);
}
/*
.draw-border {
    border : 2px solid black;
    flex : 1;

    display: flex;
    flex-direction: column;
}*/

