.container{
    border : 2px solid black;
    width: 600px;
    height: 600px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 16px;
    margin : 0px;
    
}

.header-name{
    font-size : 32px;
    font-weight: bold;
    margin: 0;
}

.instruction-text{
    margin : 0px;
}


